@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

header {
  margin: 0rem 23rem;
  /* float: left; */
  position: relative;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

h1 {
  color: hsl(179, 77%, 32%);
  font-weight: 600;
  font-size: 300%;
}

h2 {
  color: hsl(217, 43%, 32%);
  font-weight: 600;
  font-size: 150%
}
.handwritten {
  font-family: "Caveat", sans-serif !important;
  font-size: 150%;
  text-align: center;
}

h3 {
  color: hsl(0, 0%, 24%);
  font-weight: 600;
}

p {
  color: hsl(0, 0%, 32%);
}

.fa-meteor {
 color: #DA408F; 
}

.fa-fish {
  color: #57C3D0;
}

.fa-grin-squint-tears {
  color: #4EA9DC;
}

.fa-box {
  color: #954F9E;
}

.fa-canadian-maple-leaf {
  color: red;
  display: inline-block;
  text-align: center;
  vertical-align: auto;
  width: 100%;
}

.fa-sun {
  color: orange;
  display: inline-block;
  text-align: center;
  vertical-align: auto;
  width: 100%;
}

.fa-tree {
  color: teal;
  display: inline-block;
  text-align: center;
  vertical-align: auto;
  width: 100%;
}

.fa-laptop {
  color: Black;
  display: inline-block;
  text-align: center;
  vertical-align: auto;
  width: 100%;
}

.fa-code {
  color: purple;
  display: inline-block;
  text-align: center;
  vertical-align: auto;
  width: 100%;
}

section {
  margin: 0rem 23rem;
}

.links:hover {
  background-color: hsl(179, 77%, 93%);
  font-weight: bold;
}

.img1 {
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.img2 {
  width: 300px;
}

.img3 {
  width: 800px;
  display: block;
  margin: 0 auto;
}

.spotify {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.spotify:hover {
  opacity: 70%;
}

.shrbox {
  width: 400px;
}

.cover {
  width: 250px;
  padding: 1rem;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
}