@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;600&display=swap');

header {
  margin: 0rem 17rem;
  /* float: left; */
  position: relative;
}


body {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

h1 {
  color: hsl(179, 77%, 32%);
  font-weight: 600;
  font-size: 300%;
}

h2 {
  color: hsl(217, 43%, 32%);
  font-weight: 600;
  font-size: 150%
}

h3 {
  color: hsl(0, 0%, 24%);
  font-weight: 600;
}

p {
  color: hsl(0, 0%, 32%);
}

section {
  margin: 0rem 17rem;
}
aside {
  float: left;
  padding-right: 10px;
}

.links:hover {
  background-color: hsl(179, 77%, 93%);
  font-weight: bold;
}

.img1 {
  padding: 10px;
  max-width: 800px;
  height: auto;
  align-items: center;
}

.img2 {
  width: 300px;
}

.img3 {
  width: 800px;
}

.spotify {
  width: 200px;
}

.spotify:hover {
  opacity: 70%;
}

.shrbox {
  width: 400px;
}

.cover {
  width: 300px;
  padding: 2rem;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}