@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

header {
  margin: 0rem 23rem;
  position: relative;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

section {
  margin: 0rem 23rem;
}

button, input, select, textarea {
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}

fieldset {
  border: none;
  margin-left: -0.8rem;
}

/* The container */
.radiobutton {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radiobutton input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.selected {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiobutton:hover input ~ .selected {
  background-color: hsl(179, 77%, 32%);
}

/* When the radio button is checked, add a blue background */
.radiobutton input:checked ~ .selected {
  background-color: hsl(179, 77%, 32%);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.selected:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiobutton input:checked ~ .selected:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiobutton .selected:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

h1 {
  color: hsl(179, 77%, 32%);
  font-weight: 600;
  font-size: 300%;
}

h2 {
  color: hsl(217, 43%, 32%);
  font-weight: 600;
  font-size: 150%
}
.handwritten {
  font-family: "Caveat", sans-serif !important;
  font-size: 150%;
  text-align: center;
}

h3 {
  color: hsl(0, 0%, 24%);
  font-weight: 600;
}

p {
  color: hsl(0, 0%, 32%);
}

.fa-meteor {
 color: #DA408F; 
}

.fa-fish {
  color: #57C3D0;
}

.fa-grin-squint-tears {
  color: #4EA9DC;
}

.fa-box {
  color: #954F9E;
}

.fa-canadian-maple-leaf {
  color: red;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.fa-sun {
  color: orange;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.fa-tree {
  color: teal;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.fa-laptop {
  color: Black;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.fa-code {
  color: purple;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.fa {
  padding: 10px;
  font-size: 10px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.links:hover {
  background-color: hsl(179, 77%, 93%);
  font-weight: bold;
}

.img1 {
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
  transition: all .2s ease-in-out;
}

.img1:hover {
  transform: scale(1.3);
}

.shr-container {
  position: relative;
  /* width: 50%; */
}

.shr-img {
  display: block;
  width: 300px;
  height: auto;
  transition: all .4s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.shr-container:hover .overlay {
  opacity: 90%;
}

.shr-text {
  color: black;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}

.img3 {
  width: 800px;
  display: block;
  margin: 0 auto;
}

.spotify {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.spotify:hover {
  opacity: 70%;
}

.shrbox {
  width: 400px;
}

.cover {
  width: 250px;
  /* padding: 1rem; */
  transition: .7s ease-in-out;
}

.cover:hover {
  box-shadow: #de0082 0px 54px 55px, #de0082 0px -12px 30px, #de0082 0px 4px 6px, #de0082 0px 12px 13px, #de0082 0px -3px 5px;
}

.cover:nth-child(even):hover {
  transform: rotate(-5deg);
}

.cover:nth-child(odd):hover {
  transform: rotate(5deg);
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid > img {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.contact-page {
  margin: 2rem 23rem;
}

.footercontainer {
  background-color: hsl(179, 77%, 32%);
}

footer {
  text-align: center;
  padding: 3rem 23rem;
  position: relative;
}

.footertext {
  color: white !important;
}

.buttonstyle {
  background-color: hsl(179, 77%, 32%);
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 5px 7px #888888;
}